<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sergio Buil Laliena - Estudiante de ingeniería informática</title>
    <!--link rel="stylesheet" href="styles.css"-->
</head>

<body>
<header>
    <h1>Portfolio de Sergio Buil Laliena</h1>
    <p>Estudiante de ingeniería informática</p>

    <nav>
        <a href="#proyectos" class="button">Proyectos</a>
        <a href="#habilidades" class="button">Habilidades</a>
        <a href="#logros" class="button">Logros</a>
        <a href="#contacto" class="button">Contacto</a>
    </nav>
</header>

<section id="proyectos">
    <h2>Proyectos de la Carrera</h2>
    <p>Descripción de los proyectos en los que has trabajado durante tu carrera.</p>

    <article class="evento">
        <h3>Metodología de la programación: Desarrollo de un juego de mesa en Java</h3>
        <p>El juego consistía en un ajedrez vikingo implementado con ArrayLists, Objetos creados para simular el
            funcionamiento de las piezas, el tablero, las celdas de este y un árbitro para el control de la partida.
            Además se incluían dos variantes del juego.</p>
    </article>
    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
</section>

<section id="habilidades">
    <h2>Habilidades Adquiridas</h2>
    <ul>
        <h3>Lenguajes de Programación:</h3>
        <li><a href="https://es.wikipedia.org/wiki/Java_(lenguaje_de_programación)" target="_blank">Java</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Python" target="_blank">Python</a></li>
        <li><a href=" https://es.wikipedia.org/wiki/SQL" target="_blank">SQL</a></li>
        <li><a href="https://es.wikipedia.org/wiki/C_(lenguaje_de_programación)" target="_blank">C/C++</a></li>
        <li><a href="https://es.wikipedia.org/wiki/CUDA" target="_blank">CUDA</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Interfaz_de_Paso_de_Mensajes" target="_blank">MPI</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Lenguaje_ensamblador" target="_blank">Ensamblador</a></li>

        <h3>Metodologías de Trabajo:</h3>
        <li><a href="https://es.wikipedia.org/wiki/Desarrollo_ágil_de_software" target="_blank">Metodologías
            ágiles</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Modelo_en_cascada" target="_blank">Modelo en cascada</a></li>

        <h3>Paradigmas de programación:</h3>
        <li><a href="https://es.wikipedia.org/wiki/Programacion_declarativa" target="_blank">Programación
            declarativa</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_imperativa" target="_blank">Programación
            imperativa</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_estructurada" target="_blank">Programación
            estructurada</a>
        </li>
        <li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_modular" target="_blank">Programación
            modular</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_orientada_a_objetos"
               target="_blank">Programación orientada a objetos</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_dirigida_por_eventos"
               target="_blank">Programación orientada a eventos</a></li>
    </ul>
</section>
<section id="logros">
    <h2>Eventos y Logros</h2>
    <article class="evento">
        <h3>Hackathon XYZ</h3>
        <!--img src="ruta_de_la_imagen_del_evento" alt="Imagen del evento Hackathon XYZ"-->
        <p>Organizado por: <strong>XYZ Company</strong></p>
        <p>Colaboradores: <strong>ABC Inc., DEF Corp.</strong></p>
        <p>Descripción del evento y mi experiencia: Fue una experiencia increíble donde trabajé en un proyecto de
            inteligencia artificial junto a otros profesionales. Aprendí mucho sobre trabajo en equipo y resolución
            de problemas bajo presión.</p>
        <!--img src="ruta_del_logo_colaborador1" alt="Logo de ABC Inc.">
        <img src="ruta_del_logo_colaborador2" alt="Logo de DEF Corp."-->
    </article>
    <!-- Añade más eventos aquí -->

    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
    <article class="evento"></article>
</section>


<footer id="contacto">
    <!--div><img class="img_perfil" src="imagenes/code images/imagen perfil GitHub.png" alt="Perfil de Lapso03">

        <img class="img_perfil" src="imagenes/code images/imagen perfil twitch.png" alt="Perfil de Lapso03">

        <img class="img_perfil" src="imagenes/code images/imagen perfil twitter.jpg" alt="Perfil de Lapso03">

        <img class="img_perfil" src="imagenes/code images/imagen perfil LinkedIn.jpg" alt="Perfil de Lapso03">
    </div-->

    <div>
        <a href="https://ubuvirtual.ubu.es/course/view.php?id=2197">Ubuvirtual</a>
        <a href="https://teams.microsoft.com/v2/">Teams</a>

        <a href="https://github.com/Lapso03" target="_blank"><!--img class="img_contacto"
                                                                  src="/imagenes/code images/github.svg" alt="GitHub"--></a>
        <a href="https://www.twitch.tv/Lapso03" target="_blank"><!--img class="img_contacto"
                                                                     src="/imagenes/code images/twitch.png" alt="Twitch"--></a>
        <a href="https://twitter.com/03Buil" target="_blank"><!--img class="img_contacto"
                                                                  src="/imagenes/code images/X.png" alt="Twitter/X"--></a>
        <a href="https://www.linkedin.com/in/sergio-buil-laliena-547a872a6" target="_blank"><!--img
                class="img_contacto" src="/imagenes/code images/linkedin.png" alt="Linkedin"--></a>
        <p>&copy; 2024 <a href="mailto:sergiobuil2003@gmail.com">Sergio Buil Laliena</a></p>
    </div>
</footer>
</body>

</html>